/* Contact Page Styling */

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
}

header {
    background-color: #ff7e5f;
    color: white;
    padding: 10px 0;
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #3f3b3a;
    color: #fff;
}

footer p {
    margin: 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.contact-section {
    padding: 40px;
    max-width: 800px;
    margin: auto;
    background-color: rgba(255, 165, 0, 0.1); /* Light orange transparent background */
    border-radius: 8px;
    text-align: center;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-item i {
    font-size: 24px;
    color: #333;
}

.contact-item p {
    margin: 5px 0 0;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 0;
}

.contact-form label {
    text-align: left;
    font-weight: bold;
}

.contact-form input, .contact-form textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
}

.contact-form button {
    padding: 10px 20px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #555;
}

.social-media {
    margin-top: 20px;
}

.social-icon {
    color: white;
    margin: 0 10px;
    font-size: 24px;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #ff6600; /* Highlight color on hover */
}